%h3=@appointment.start_time.strftime("%d %B %Y, godz. %R")
Pacjent:
=link_to @patient_card.full_name, patient_card_path(@patient_card)
%p= "Uwagi dla pacjenta: #{@appointment.public_comment}"
%p= "Uwagi niewidoczne dla pacjenta: #{@appointment.private_comment}"
